
*.log
Saved/AutoScreenshot.png
Intermediate/CachedAssetRegistry.bin
Intermediate/Config/CoalescedSourceConfigs/Input.ini
Intermediate/Config/CoalescedSourceConfigs/Lightmass.ini
Intermediate/ReimportCache/3688439234.bin
Saved/Autosaves/Engine/ArtTools/RenderToTexture/Materials/Debug/M_Emissive_Color_Auto1.uasset
Saved/Autosaves/Game/StarterContent/Blueprints/Assets/M_LightStage_Arrows_Auto2.uasset
Saved/Autosaves/Game/StarterContent/Blueprints/Assets/M_LightStage_Skybox_Master_Auto2.uasset
Saved/Autosaves/Game/StarterContent/Particles/Materials/M_Fire_SubUV_Auto6.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/ChainBolt/M_ElectricArc_Auto3.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/Fireball/Fireball_Auto6.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/Fireball/Fireball_Auto8.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/Fireball/M_Fire_Auto1.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/Fireball/M_Fire_Auto5.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/Fireball/M_Fire_Auto8.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/Fireball/M_FireUV_Auto6.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/Fireball/NE_Fire_Auto5.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/Fireball/NE_Fire_System_Auto1.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/Fireball/NE_Fire_System_Auto6.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/Fireball/NS_FireBetter_Auto9.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/Fireball_Auto0.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/Fireball_Auto6.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/Fireball_Auto8.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/M_ICE_Auto2.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/M_ICE_Auto4.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/M_ICE_Inst_Auto3.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/M_ICE_Inst_Auto4.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/M_ICE_Inst_Auto5.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/M_ICE_Inst_Auto7.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/M_ICE_Inst_Auto8.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/M_IceFresnel_Auto4.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/M_IceFresnel_Auto6.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/M_IceFresnel_Auto7.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/M_IceFresnel_Auto9.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/Preview_Material_Auto0.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/Preview_Material_Auto1.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/Preview_Material_Auto4.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/Preview_Material_Auto9.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/Rune_Block_Auto1.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/Rune_Block_Preview_Auto1.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/IceBlock/TestBlock_Auto3.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/MagicBurst/M_MagicBurst_Auto1.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/MagicBurst/M_MagicBurst_Auto3.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/MagicBurst/N_MagicTrail_System_Auto2.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/MagicBurst/N_MagicTrail_System_Auto6.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/MagicBurst/ns_MagicBurst_Auto3.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/MagicBurst/P_MagicBurst_Auto1.uasset
Saved/Autosaves/Game/ThirdPersonBP/Abilities/Witch/MagicBurst/P_MagicTrail_Auto1.uasset
Saved/Autosaves/Game/ThirdPersonBP/Blueprints/ThirdPersonCharacter_Auto0.uasset
Saved/Autosaves/Game/ThirdPersonBP/Blueprints/ThirdPersonCharacter_Auto1.uasset
Saved/Autosaves/Game/ThirdPersonBP/Blueprints/ThirdPersonCharacter_Auto2.uasset
Saved/Autosaves/Game/ThirdPersonBP/Blueprints/ThirdPersonCharacter_Auto3.uasset
Saved/Autosaves/Game/ThirdPersonBP/Blueprints/ThirdPersonCharacter_Auto4.uasset
Saved/Autosaves/Game/ThirdPersonBP/Blueprints/ThirdPersonCharacter_Auto5.uasset
Saved/Autosaves/Game/ThirdPersonBP/Blueprints/ThirdPersonCharacter_Auto6.uasset
Saved/Autosaves/Game/ThirdPersonBP/Blueprints/ThirdPersonCharacter_Auto7.uasset
Saved/Autosaves/Game/ThirdPersonBP/Blueprints/ThirdPersonCharacter_Auto8.uasset
Saved/Autosaves/Game/ThirdPersonBP/Blueprints/ThirdPersonCharacter_Auto9.uasset
Saved/Autosaves/Game/ThirdPersonBP/HUD/Cooldowns_Auto1.uasset
Saved/Autosaves/Game/ThirdPersonBP/HUD/Cooldowns_Auto3.uasset
Saved/Autosaves/Game/ThirdPersonBP/HUD/Cooldowns_Auto4.uasset
Saved/Autosaves/Game/ThirdPersonBP/HUD/Cooldowns_Auto5.uasset
Saved/Autosaves/Game/ThirdPersonBP/HUD/MI_ChonkCooldown_Auto2.uasset
Saved/Autosaves/Game/ThirdPersonBP/HUD/MI_ChonkCooldown_Auto4.uasset
Saved/Autosaves/Game/ThirdPersonBP/HUD/MI_ChonkCooldown_Auto5.uasset
Saved/Autosaves/Game/ThirdPersonBP/HUD/MI_ChonkCooldown_Auto8.uasset
Saved/Autosaves/Game/ThirdPersonBP/HUD/MI_ChonkCooldown_Auto9.uasset
Saved/Autosaves/Game/ThirdPersonBP/HUD/MI_WitchCooldown_Auto2.uasset
Saved/Autosaves/Game/ThirdPersonBP/HUD/MI_WitchCooldown_Auto4.uasset
Saved/Autosaves/Game/ThirdPersonBP/HUD/MI_WitchCooldown_Auto5.uasset
Saved/Autosaves/Game/ThirdPersonBP/HUD/MI_WitchCooldown_Auto8.uasset
Saved/Autosaves/Game/ThirdPersonBP/HUD/MI_WitchCooldown_Auto9.uasset
Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto0.umap
Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto1.umap
Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto2.umap
Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto3.umap
Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto4.umap
Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto5.umap
Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto6.umap
Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto7.umap
Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto8.umap
Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto9.umap
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Config/ConsoleHistory.ini
Saved/Config/CrashReportClient/UE4CC-Windows-04B777F04DAA52824D4F74AEC8333139/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-07C95C93441A9AB6500839AC70B07106/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-0AF563A44389D0C18308F68C22914CBE/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-7A346B344A5C8C5C0F76E2A938B15DC9/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-A513832E486405A3975B0494AAD85076/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-F5E3AAAE4EEB93710CA5428D6F62D423/CrashReportClient.ini
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/Niagara.ini
Saved/Crashes/UE4CC-Windows-5B57A190467D574FF531EEB365AB2FDA_0000/CrashContext.runtime-xml
Saved/Crashes/UE4CC-Windows-5B57A190467D574FF531EEB365AB2FDA_0000/CrashReportClient.ini
Saved/Crashes/UE4CC-Windows-5B57A190467D574FF531EEB365AB2FDA_0000/UE4Minidump.dmp
Saved/Crashes/UE4CC-Windows-7A346B344A5C8C5C0F76E2A938B15DC9_0000/CrashContext.runtime-xml
Saved/Crashes/UE4CC-Windows-7A346B344A5C8C5C0F76E2A938B15DC9_0000/CrashReportClient.ini
Saved/Crashes/UE4CC-Windows-7A346B344A5C8C5C0F76E2A938B15DC9_0000/UE4Minidump.dmp
Saved/Crashes/UE4CC-Windows-B3FAB18F43DB337B83DE4492D923F5B3_0000/CrashContext.runtime-xml
Saved/Crashes/UE4CC-Windows-B3FAB18F43DB337B83DE4492D923F5B3_0000/CrashReportClient.ini
Saved/Crashes/UE4CC-Windows-B3FAB18F43DB337B83DE4492D923F5B3_0000/UE4Minidump.dmp
Saved/Crashes/UE4CC-Windows-FA335EAC4A6059764C5364B532F439A2_0000/CrashContext.runtime-xml
Saved/Crashes/UE4CC-Windows-FA335EAC4A6059764C5364B532F439A2_0000/CrashReportClient.ini
Saved/Crashes/UE4CC-Windows-FA335EAC4A6059764C5364B532F439A2_0000/UE4Minidump.dmp
Saved/Crashes/UE4CC-Windows-FA335EAC4A6059764C5364B532F439A2_0001/CrashContext.runtime-xml
Saved/Crashes/UE4CC-Windows-FA335EAC4A6059764C5364B532F439A2_0001/CrashReportClient.ini
Saved/Crashes/UE4CC-Windows-FA335EAC4A6059764C5364B532F439A2_0001/UE4Minidump.dmp
Saved/Diff/TextNS_MagicBurst-0.txt
Saved/Diff/TextNS_MagicBurst-1.txt
